<div class="wrapper">
  <div class="features-2 section-image" style="background-image: url('assets/img/backgroundBlue.jpg'); padding-top: 142px; ">
    <img src="assets/img/dlc-logo-white.png" style="width: auto; max-width: 100%; height: 15em"/>
  </div>
  <div class="text-light py-2" style="background-color: #e5332b;">
    <div class="container">
      <ul class="nav nav-fill">
        <li class="nav-item"><a href="#" class="nav-link text-light">Play Station</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">PC</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Xbox One</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Nintendo Switch</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Mods</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Juegos <b>gratis</b></a></li>
      </ul>
    </div>
  </div>
  <div style="background: linear-gradient(to bottom, #b82c20, #e5332b, #f1936b); padding: 5em 0;">
    <h2 class="text-bold m-0 text-center text-light">Los 23 mejores DLCs de videojuegos de la historia</h2>
  </div>
</div>
<div class="container py-5">
  <div class="border-bottom mb-3 py-2">
    <h3 class="mb-2">Grand Theft Auto IV: The Ballad Of Gay Tony</h3>
    <button class="btn btn-danger btn-lg">Descarga</button>
  </div>
  <div class="border-bottom mb-3 py-2">
    <h3 class="mb-2">Dishonored: Las Brujas de Brighmore</h3>
    <button class="btn btn-danger btn-lg">Descarga</button>
  </div>
  <div class="border-bottom mb-3 py-2">
    <h3 class="mb-2">Mass Effect 3: La Ciudadela</h3>
    <button class="btn btn-danger btn-lg">Descarga</button>
  </div>
  <div class="border-bottom mb-3 py-2">
    <h3 class="mb-2">Red Dead Redemption: Undead Nightmare</h3>
    <button class="btn btn-danger btn-lg">Descarga</button>
  </div>
  <div class="border-bottom mb-3 py-2">
    <h3 class="mb-2">Diablo II: Lord Of Destruction</h3>
    <button class="btn btn-danger btn-lg">Descarga</button>
  </div>
</div>
