<footer
  class="footer"
  style="
    background-image: url('assets/img/backgroundBlue.jpg');
    background-size: cover;
    background-position: bottom;
  ">
  <div class="container">
    <div class="content">
      <div class="row align-items-center">
        <div class="col text-center">
          <a
            href="#pablo"
            class="text-muted"
            style="color: white !important;"
          >
            Condiciones Generales
          </a>
        </div>
        <div class="col text-center">
          <a
            href="#pablo"
            class="text-muted"
            style="color: white !important;">
            Politicas De Privacidad
          </a>
        </div>
        <div class="col">
          <img src="assets/img/cpb1.png" class="img-fluid"/>
          <p class="description"
            class="text-center text-muted copyright"
            style="color: white !important;">
            2020. CheckPointTour All Rights Reserved
          </p>
        </div>
        <div class="col text-center">
          <a
            href="#pablo"
            class="text-muted"
            style="color: white !important;"
          >
            Contacto
          </a>
        </div>
        <div class="col text-center">
          <a
            href="#pablo"
            class="text-muted"
            style="color: white !important;"
          >
            Publicidad
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
