<div class="wrapper">
  <!--     *********     FEATURES 2      *********      -->
  <div
    class="features-2 section-image"
    style="
      background-image: url('assets/img/backgroundBlue.jpg');
      padding-top: 142px;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <img src="assets/img/cpb1.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
  <!--     *********    END FEATURES 2      *********      -->
  <section id="bitstory" class="py-5">
    <div class="row">
      <div class="col-md-2 offset-md-5">
        <img src="assets/img/bitstory.png" class="img-fluid" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="description" style="color: black; text-align: center;">
          Aqui encontraras la informacion de todos lo videjuegos como tal, desde
          no se cual hasta el sabe que.
          <br />
          jsjsjsjsjsjsjsjjsjsjsjsjjsjsjsjsjsjs
          <br />
          jsjsjsjsjsjsjsjjsjsjsjsjjsjsjsjsjsjs
          <br />
          ¡Puedes separarlo por compañiassi alguna de ellas es tu favorita!
        </p>
      </div>
    </div>
  </section>
  <div>
    <ngb-carousel style="background-color: #d9c2ab !important;" class="p-5">
      <ng-template ngbSlide>
        <!-- repite este elemento -->
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h2 class="title">
                  1986 nintendo famicon
                </h2>
                <h4 class="description">
                  Lorems sdasdnsakjndsd Lorems sdasdnsakjndsd Lorems
                  sdasdnsakjndsd.
                </h4>
              </div>
              <div class="col-6">
                <img src="assets/img/Nintendo Famicom.png" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h2 class="title">
                  1994 Playstation
                </h2>
                <h4 class="description">
                  Lorems sdasdnsakjndsd Lorems sdasdnsakjndsd Lorems
                  sdasdnsakjndsd.
                </h4>
              </div>
              <div class="col-6">
                <img src="assets/img/play1.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <!-- repite este elemento -->
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h2 class="title">
                  2005 Playstation
                </h2>
                <h4 class="description">
                  Lorems sdasdnsakjndsd Lorems sdasdnsakjndsd Lorems
                  sdasdnsakjndsd.
                </h4>
              </div>
              <div class="col-6">
                <img src="assets/img/play3.png" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h2 class="title">
                  2006 Xbox 360
                </h2>
                <h4 class="description">
                  Lorems sdasdnsakjndsd Lorems sdasdnsakjndsd Lorems
                  sdasdnsakjndsd.
                </h4>
              </div>
              <div class="col-6">
                <img src="assets/img/Xbox_360.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <!-- repite este elemento -->
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h2 class="title">
                  2013 Playstation Pro
                </h2>
                <h4 class="description">
                  Lorems sdasdnsakjndsd Lorems sdasdnsakjndsd Lorems
                  sdasdnsakjndsd.
                </h4>
              </div>
              <div class="col-6">
                <img
                  src="assets/img/playstation-4-pro-png.png"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h2 class="title">
                  2013 Xbox One X
                </h2>
                <h4 class="description">
                  Lorems sdasdnsakjndsd Lorems sdasdnsakjndsd Lorems
                  sdasdnsakjndsd.
                </h4>
              </div>
              <div class="col-6">
                <img src="assets/img/xbox-one-x-png-1.png" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div
  class="features-2 section-image pt-0 pb-0"
  style="background-image: url('assets/img/backgroundBlack.jpg');"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto mt-0 ml-auto">
        <h4 class="description">
          Empresas de videjuegos
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <img
            style="max-width: 70%; margin: 0 auto; display: block;"
            class="img-raised rounded-circle"
            src="assets/img/xbox-logo.png"
          />
          <h4 class="info-title">Xbox</h4>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque
            consequatur aut corporis.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <img
            style="max-width: 70%; margin: 0 auto; display: block;"
            class="img-raised rounded-circle"
            src="assets/img/playstation-logo.jpg"
          />
          <h4 class="info-title">PlayStation</h4>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque
            consequatur aut corporis.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <img
            style="max-width: 70%; margin: 0 auto; display: block;"
            class="img-raised rounded-circle"
            src="assets/img/nintendo-logo.jpg"
          />
          <h4 class="info-title">Nintendo</h4>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque
            consequatur aut corporis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5">
    <div class="col text-center">
      <a href="/bitstory">
        <img
          class="mx-auto"
          style="max-width: 100%; max-height: 10em;"
          src="assets/img/bitstory.png"
        />
      </a>
    </div>
    <div class="col text-center">
      <a href="/clanclub">
        <img
          class="mx-auto"
          style="max-width: 100%; max-height: 10em;"
          src="assets/img/clan club.png"
        />
      </a>
    </div>
    <div class="col text-center">
      <a href="/letsplay">
        <img
          class="mx-auto"
          style="max-width: 100%; max-height: 10em;"
          src="assets/img/let_s play.png"
        />
      </a>
    </div>
    <div class="col text-center">
      <a href="/dlc">
        <img
          class="mx-auto"
          style="max-width: 100%; max-height: 10em;"
          src="assets/img/DLC.png"
        />
      </a>
    </div>
    <div class="col text-center">
      <a href="/share">
        <img
          class="mx-auto"
          style="max-width: 100%; max-height: 10em;"
          src="assets/img/share.png"
        />
      </a>
    </div>
  </div>
</div>
