<div class="wrapper">
  <div class="features-2 section-image" style="background-image: url('assets/img/backgroundBlue.jpg'); padding-top: 142px; ">
    <img src="assets/img/clan-club-logo-white.png"  style="height: 15em; width: auto"/>
  </div>
  <div class="text-light py-2 m-0" style="background-color: #28ae7d;">
    <div class="container">
      <div class="alert-wrapper">
        Grupo
        <i class="now-ui-icons arrows-1_minimal-right"></i>
        Apex Legends
        <i class="now-ui-icons arrows-1_minimal-right"></i>
        Makina
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/sxAxiObt4Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="comments mt-3">
    <h3>Comentarios &middot; 10</h3>
    <div class="media media-post">
      <a class="pull-left author" href="#pablo">
        <div class="avatar">
          <img class="media-object img-raised" alt="64x64" src="assets/img/placeholder.jpg">
        </div>
      </a>
      <div class="media-body">
        <textarea class="form-control" placeholder="Deja tu comentario" rows="6"></textarea>
        <div class="media-footer">
          <a href="#" class="btn btn-primary btn-wd pull-right">Comentar</a>
        </div>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#pablo">
        <div class="avatar">
          <img class="media-object img-raised" src="assets/img/marie.jpg" alt="..." />
        </div>
      </a>
      <div class="media-body">
        <h5 class="media-heading">Fulana de Tal
          <small class="text-muted">&middot; hace 7 minutos</small>
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tempore quo nisi dolor, fuga ipsum. Repudiandae obcaecati at suscipit reiciendis inventore, dignissimos earum in molestiae mollitia minima ad accusantium, iste.</p>
        <p>Aliquam placeat, magni fugit consequatur inventore. Temporibus recusandae amet ab, quia aut.</p>
        <div class="media-footer">
          <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
            <i class="now-ui-icons ui-1_send"></i> Responder
          </a>
          <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
            <i class="now-ui-icons ui-2_favourite-28"></i> 243
          </a>
        </div>
        <div class="media media-post">
          <a class="pull-left author" href="#">
            <div class="avatar">
              <img class="media-object img-raised" alt="64x64" src="assets/img/placeholder.jpg">
            </div>
          </a>
          <div class="media-body">
            <textarea class="form-control" placeholder="Escribe tu respuesta" rows="4"></textarea>
            <div class="media-footer">
              <a href="#" class="btn btn-primary pull-right">
                <i class="now-ui-icons ui-1_send"></i> Responder
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#pablo">
        <div class="avatar">
          <img class="media-object img-raised" src="assets/img/mike.jpg" alt="..." />
        </div>
      </a>
      <div class="media-body">
        <h5 class="media-heading">Fulanito de Cuál
          <small class="text-muted">&middot; Ayer</small>
        </h5>
        <p>Aliquam placeat, magni fugit consequatur inventore. Temporibus recusandae amet ab, quia aut.</p>
        <img src="assets/img/bg14.jpg" alt="" class="img-fluid">
        <div class="media-footer">
          <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
            <i class="now-ui-icons ui-1_send"></i> Responder
          </a>
          <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
            <i class="now-ui-icons ui-2_favourite-28"></i> 243
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
