<nav
  class="navbar navbar-expand-lg bg-white fixed-top p-0"
  color-on-scroll="0"
  style="background-color: white !important;"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/presentation']"
        placement="bottom"
        ngbTooltip="Designed by Invision. Coded by Creative Tim"
      >
        <div class="img text-left">
          <img src="assets/img/checkpoint marca2.png" />
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

    <div class="navbar-brand col-sm-3 col-lg-3 pb-0">
      <div class="form-group mb-0 d-flex">
        <input
          type="Search"
          value=""
          placeholder="Search"
          class="form-control"
        />
        <img
          class="pt-1"
          src="assets/img/what.png"
          style="width: 24px; height: 24px;"
        />
      </div>
    </div>
    <div class="d-flex">
      <a
        class="nav-item dropdown navbar-brand"
        style="
          font-size: 1.5rem;
          display: inline;
          padding-top: 23px;
          color: #50569e;
        "
      >
        Mi-Cuenta
      </a>
      <img
        src="assets/img/flecha.png"
        style="width: 24px; height: 24px; margin-top: 20px;"
      />
    </div>
  </div>
</nav>
