<div class="wrapper">
  <!--     *********     FEATURES 2      *********      -->
  <div
    class="features-2 section-image"
    style="
      background-image: url('assets/img/backgroundBlue.jpg');
      padding-top: 142px;
    "
  >
    <div class="col-md-12">
      <div class="phone-container">
        <img src="assets/img/cpb2.png" />
      </div>
    </div>
  </div>
  <ngb-alert
    type="danger"
    [dismissible]="false"
    style="margin-bottom: 0px; padding: 3px; background-color: #e6447d;"
  >
    <div class="container">
      <div class="alert-wrapper">
        Blog
        <i class="now-ui-icons arrows-1_minimal-right"></i>
        Overwatch
        <i class="now-ui-icons arrows-1_minimal-right"></i>
        Logros
      </div>
    </div>
  </ngb-alert>

  <!--     *********    END FEATURES 2      *********      -->
  <div
    style="background-image: url('assets/img/one1.png'); padding-top: 142px;"
  >
    <div class="row">
      <div class="col-md-8 text-center">
        <h6 style="font-size: 1.5rem; color: #424697;">
          ¡Bienvenidos Gamers!
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="description" style="color: #424697; text-align: center;">
          Aqui podran participar en diferentes dinamicas y juegoss
          <br />
          Para poder ganar premios desde targetas de regalo para tu
          <br />
          juego favorito, hasta mercancia oficial de
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="max-width: initial;">
        <div class="info info-hover">
          <div class="img">
            <div class="col-md-12">
              <div class="phone-container">
                <img src="assets/img/checkpoint marca2.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #fffcf5;" style="padding-bottom: 100px;">
  <div class="row">
    <div class="col-md-3" style="max-width: initial;">
      <div class="info info-hover">
        <div class="img">
          <div class="col-md-12">
            <div class="phone-container">
              <img src="assets/img/gold.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9" style="margin-top: 100px;">
      <h6 class="mb-5" style="font-size: 1.5rem; color: black;">
        ¡Logro Desbloqueado!
      </h6>
      <p class="description" style="color: black; text-align: left;">
        Nuestro primer concurso por apertura, incluye un premio bastante grande,
        para dar la bienvenida a todos ustedes
        <br />
        se trata de una tarjeta de regalo para tu consola favorita (Nintendo,
        Playstation, Xbox, Google Play, Steam)
        <br />
        y un regalo a elegir de nuestro catalogo de mercancia oficial.
      </p>
      <h6 class="mt-5 mb-5" style="font-size: 1rem; color: black;">
        ¿Quieres saber como ganarlo?
      </h6>
      <p class="description" style="color: black; text-align: left;">
        Facil, solo tienes que promocionar nuestra pagina en las diferentes
        redes sociales, ser un usuario del museo
        <br />
        y enviarnos un mensaje con una foto de tu publicacion y descripcion del
        regalo que deseas
        <br />
        <br />
        ¡Buena suerte a todos! Y Que Gane El Mejor
      </p>
    </div>
  </div>
</div>

<div
  class="features-2 section-image pt-0 pb-0"
  style="background-color: #e6447d;"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto mt-3 ml-auto">
        <h2 class="description" style="color: white;">
          Jueces
        </h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <div class="info">
          <img
            class="img img-raised rounded"
            src="assets/img/michael.jpg"
            style="border-radius: 50% !important;"
          />
          <h4 class="info-title">Valentine</h4>
          <h6 class="info-title" class="text-muted">Web Designer</h6>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque
            consequatur aut corporis.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info">
          <img
            class="img img-raised rounded"
            src="assets/img/michael.jpg"
            style="border-radius: 50% !important;"
          />
          <h4 class="info-title">Frida</h4>
          <h6 class="info-title" class="text-muted">Ilustradora</h6>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque
            consequatur aut corporis.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info">
          <img
            class="img img-raised rounded"
            src="assets/img/michael.jpg"
            style="border-radius: 50% !important;"
          />
          <h4 class="info-title">Valentine</h4>
          <h6 class="info-title" class="text-muted">Graphic Designer</h6>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde itaque
            consequatur aut corporis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #fffcf5;" class="pt-5 pb-5">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <div class="info">
        <h4 class="info-title">Ganadores anteriores</h4>
        <p class="description" style="color: black;">
          Del juego de l -- de --
          <br />
          Maria eugenia
          <br />
          ¡Felicidades!
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <h4 class="info-title">Ganadores anteriores</h4>
        <p class="description" style="color: black;">
          Del juego de l -- de --
          <br />
          Maria eugenia
          <br />
          ¡Felicidades!
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <h4 class="info-title">Ganadores anteriores</h4>
        <p class="description" style="color: black;">
          Del juego de l -- de --
          <br />
          Maria eugenia
          <br />
          ¡Felicidades!
        </p>
      </div>
    </div>
  </div>
</div>
