<div id="checkpoint-store" style="margin-top: 95px">
  <div class="bg-primary py-2">
    <div class="container-fluid">
      <div class="row">
        <div class="text-center text-light col-lg-2">Inicio</div>
        <div class="text-center text-light col-lg-2">Servicios</div>
        <div class="text-center text-light col-lg-4">
          <div class="form-inline">
            <input type="text" class="form-control">
            <i class="now-ui-icons ui-1_zoom-bold"></i>
          </div>
        </div>
        <div class="text-center text-light col-lg-4">
          <i class="now-ui-icons ui-2_favourite-28"></i>
          Lista de deseos
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="background-color: #20b8cf">
    <div class="container-fluid">
      <ul class="nav nav-fill">
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Ropa</a></li>
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Gorros</a></li>
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Estatuas</a></li>
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Accesorios</a></li>
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Libros</a></li>
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Coleccionables</a></li>
        <li class="nav-item text-center"><a href="#" class="text-light nav-link">Home & Office</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 py-5 px-4">
        <h5 class="border-top">Shop for</h5>
        <label for="shop-for" class="d-block">
          <input type="radio" name="shop-for" value="Men"/>
          Men
        </label>
        <label for="shop-for" class="d-block">
          <input type="radio" name="shop-for" value="Men"/>
          Women
        </label>
        <label for="shop-for" class="d-block">
          <input type="radio" name="shop-for" value="Men"/>
          Kids
        </label>
        <label for="shop-for" class="d-block">
          <input type="radio" name="shop-for" value="Baby"/>
          Baby
        </label>
        <label for="shop-for" class="d-block">
          <input type="radio" name="shop-for" value="Plus Sizes"/>
          Plus Sizes
        </label>
        <h5 class="border-top mt-4">All departments</h5>
        <label for="shop-for" class="d-block">
          <input type="radio" name="department" value="Accessories"/>
          Accessories
        </label>
        <label for="department" class="d-block">
          <input type="radio" name="department" value="Apparel"/>
          Apparel
        </label>
        <label for="department" class="d-block">
          <input type="radio" name="department" value="Books"/>
          Books
        </label>
        <label for="department" class="d-block">
          <input type="radio" name="shop-for" value="Collectibles &amp; Toys"/>
          Collectibles &amp; Toys
        </label>
        <label for="department" class="d-block">
          <input type="radio" name="department" value="Gaming Gear"/>
          Gaming Gear
        </label>
        <label for="department" class="d-block">
          <input type="radio" name="department" value="Hats"/>
          Hats
        </label>
        <label for="department" class="d-block">
          <input type="radio" name="department" value="Home &amp; Office"/>
          Home &amp; Office
        </label>
      </div>
      <div class="col-lg-8 pb-5">
        <div class="border-bottom py-4 d-flex justify-content-between">
          <div class="form-inline">
            1 - 72 of 413
            <select name="" id="" class="form-control mx-3" style="border-radius: 5px;">
              <option value="Top Sellers" selected>Top Sellers</option>
            </select>
            <select name="" id="" class="form-control mx-3" style="border-radius: 5px;">
              <option value="72">72 items</option>
            </select>
          </div>
          <ul class="pagination">
            <li class="page-item"><a href="#" class="page-link">&lt;</a></li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">&gt;</a></li>
          </ul>
        </div> <!-- end store filters -->
        <div class="row">
          <div class="py-4 col-lg-4">
            <img src="assets/img/reinhardt.webp" class="img-fluid">
            <h6 class="text-bold price">$68.99</h6>
            <span class="description">Good Smile Company Reinhardt Overwatch Nendoroid Figure</span>
          </div>
          <div class="py-4 col-lg-4">
            <img src="assets/img/soldier.webp" class="img-fluid">
            <h6 class="text-bold price">$109.99</h6>
            <span class="description">Good Smile Company Soldier: 76 Overwatch Exclusive Figma Figurine</span>
          </div>
          <div class="py-4 col-lg-4">
            <img src="assets/img/dva.webp" class="img-fluid">
            <h6 class="text-bold text-danger price">$375.99 with code</h6>
            <h6 class="text-muted through">Regular: $469.99</h6>
            <h6 class="text-small text-success">You Save: $94.00</h6>
            <span class="description">D.Va Overwatch 20.25" Premium Statue</span>
          </div>
          <hr>
          <div class="py-4 col-lg-4">
            <img src="assets/img/mercy.webp" class="img-fluid">
            <h6 class="text-bold text-danger price">$151.99 with code</h6>
            <h6 class="text-muted through">Regular: $189.99</h6>
            <h6 class="text-small text-success">You Save: $38.00</h6>
            <span class="description">Mercy Overwatch 13.75" Premium Statue</span>
          </div>
          <div class="py-4 col-lg-4">
            <img src="assets/img/legobastion.jpg" class="img-fluid">
            <h6 class="text-bold text-danger price">$19.99 with code</h6>
            <h6 class="text-muted through">Regular: $24.99</h6>
            <h6 class="text-small text-success">You Save: $5.00</h6>
            <span class="description">LEGO Bastion Overwatch Omnic Crisis Skin 182-Piece Set</span>
          </div>
          <div class="py-4 col-lg-4">
            <img src="assets/img/widowmaker.webp" class="img-fluid">
            <h6 class="text-bold text-danger price">$151.99 with code</h6>
            <h6 class="text-muted through">Regular: $189.99</h6>
            <h6 class="text-small text-success">You Save: $38.00</h6>
            <span class="description">Widowmaker Overwatch 13.5" Premium Statue</span>
          </div>
          <hr>
          <div class="py-4 col-lg-4">
            <img src="assets/img/dvahlmt.webp" class="img-fluid">
            <h6 class="text-bold text-danger price">$63.99 with code</h6>
            <h6 class="text-muted through">Regular: $79.99</h6>
            <h6 class="text-small text-success">You Save: $16.00</h6>
            <span class="description">Razer D.Va Overwatch MEKA Headset</span>
          </div>
          <div class="py-4 col-lg-4">
            <img src="assets/img/hanzo.webp" class="img-fluid">
            <h6 class="text-bold text-danger price">$151.99 with code</h6>
            <h6 class="text-muted through">Regular: $189.99</h6>
            <h6 class="text-small text-success">You Save: $38.00</h6>
            <span class="description">Hanzo Overwatch 13" Premium Statue</span>
          </div>
          <div class="py-4 col-lg-4">
            <img src="assets/img/legoreaper.jpg" class="img-fluid">
            <h6 class="text-bold text-danger price">$71.99 with code</h6>
            <h6 class="text-muted through">Regular: $89.99</h6>
            <h6 class="text-small text-success">You Save: $18.00</h6>
            <span class="description">LEGO Reaper, Mercy, Pharah & Winston Overwatch Watchpoint: Gibraltar 730-Piece Set</span>
          </div>
          <hr>
        </div><!-- end store items row -->
        <ul class="pagination justify-content-center py-5">
          <li class="page-item"><a href="#" class="page-link">&lt;</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">&gt;</a></li>
        </ul>
      </div><!-- end store items column -->
    </div>
  </div>
</div>